<a href="https://colab.research.google.com/github/Praneetha-L/python_/blob/main/Copy_of_PYTHON_Datatypes_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 PYTHON DATATYPE
     python datatypes are primitive data type (basic) and non-primitive data type(advance) to know which type operation to be performed on particular data.
     The buit-in datatypes:
1.  Basic
    *  int
    *  float
    *  boolean
    *  complex
    *  char
2.  Advance
   *  list
   *  string
   *  tuple
   *  dictionary
   *  set

In [ ]:
# INT DATA TYPE
#INT represents integers.It contains positive and negative whole numbers expect fractions and decimals
#for examples

a = 5
print(a)
print(type(a))             #type() function is to know which class of data type

5
<class 'int'>

In [ ]:
b = -5
print(b)
print(type(b))

-5
<class 'int'>

In [ ]:
c = 96
print(type(c))
print(c)

<class 'int'>
96

In [ ]:
d = -56
print(type(d))
print(d)

<class 'int'>
-56

In [ ]:
#5
e= 78
print(e)
print(type(e))
#6
f = 0
print(f)
print(type(f))
#7
g= -1234556
print(g)
print(type(g))
#8
h= 11234567890
print(h)
print(type(h))
#9
i=-1123456789
print(i)
print(type(i))
#10
j = 90
print(j)
print(type(j))

78
<class 'int'>
0
<class 'int'>
-1234556
<class 'int'>
11234567890
<class 'int'>
-1123456789
<class 'int'>
90
<class 'int'>

In [ ]:
# FLOAT DATA TYPE
# FLOAT represents real number with floating point number(decimal numbers) is either positive or negtive number is consider
#for examples
#1.
g= 8.12
print(g)
print(type(g))
#2
h= -4.12
print(h)
print(type(h))
#3
d= 0.23
print(d)
print(type(d))
#4
s= 67.123
print(s)
print(type(s))
#5
a = -345.567
print(a)
print(type(a))
#6
b = -67890.223
print(b)
print(type(b))
#7
c= 34.200000
print(c)
print(type(c))
#8
n= -6.13
print(n)
print(type(n))
#9
m=-9.1
print(m)
print(type(m))
#10
l= 67.1
print(l)
print(type(l))

8.12
<class 'float'>
-4.12
<class 'float'>
0.23
<class 'float'>
67.123
<class 'float'>
-345.567
<class 'float'>
-67890.223
<class 'float'>
34.2
<class 'float'>
-6.13
<class 'float'>
-9.1
<class 'float'>
67.1
<class 'float'>

In [ ]:
# BOOLEAN DATATYPE
# boolean value is either true or false
#For examples
#1
x = 75>90
print(x)
print(type(x))
#2
b = 78>= 89
print(b)
print(type(b))
#3
c= 56> 90
print(c)
print(type(c))
#4
d = 89<=65
print(d)
print(type(d))
#5
f= 34>=90
print(f)
print(type(f))
#6
b= 34>12
print(b)
print(type(b))
#7
n= 89>56
print(n)
print(type(n))
#8
m= -12>-23
print(m)
print(type(m))
#9
k= 0>-12
print(k)
print(type(k))
#10
l= 78>=56
print(l)
print(type(l))

False
<class 'bool'>
False
<class 'bool'>
False
<class 'bool'>
False
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
True
<class 'bool'>
True
<class 'bool'>
True
<class 'bool'>
True
<class 'bool'>

In [ ]:
# COMPLEX DATA TYPE
#A Complex number is the number that consists of real and imaginary numberit represent in form of a+bj , a is real number and bis imaginary number
# j is imaginary unit.In Python we have complex() buit in function that creates complex numbers
#FOR EXAMPLES
#1
X = 4+7J
print(X)
print(type(X))
#2
c= complex(3,5)     #here by using complex() function we can create complex number
print(c)
print(type(c))
#3
v= -2+8j
print(v)
print(type(v))
#4
n= 0+6j
print(n)
print(type(n))
#5
m = 4.5+5.6j
print(m)
print(type(m))
#6
k= -2.4+0j
print(k)
print(type(k))
#7
h= 0+5.6j
print(h)
print(type(h))
#8
p= 5+9.8j
print(p)
print(type(p))
#9
d= complex(8,9)
print(d)
print(type(d))
#10
r= complex(8.8,9.8)
print(r)
print(type(r))

(4+7j)
<class 'complex'>
(3+5j)
<class 'complex'>
(-2+8j)
<class 'complex'>
6j
<class 'complex'>
(4.5+5.6j)
<class 'complex'>
(-2.4+0j)
<class 'complex'>
5.6j
<class 'complex'>
(5+9.8j)
<class 'complex'>
(8+9j)
<class 'complex'>
(8.8+9.8j)
<class 'complex'>

In [ ]:
#CHAR DATA TYPE
# in python there is no character data type instead python uses string
# A string in python sequence of single characters enclosed ineither single quotes or double quotes
# FOR EXAMPLE
#1
u = "b"
print(u)
print(type(u))
#2
x="NAME"
print(x)
print(type(x))
#3
b = 'place'
print(b)
print(type(b))
#4
c='k'
print(c)
print(type(c))

b
<class 'str'>
NAME
<class 'str'>
place
<class 'str'>
k
<class 'str'>