<a href="https://colab.research.google.com/github/Praneetha-L/python_/blob/main/Copy_of_ANSWERS_TEST_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1 . COMMENTS : comments are used to understand the program by any user what operations is performed  
 single line comment :#example of single line
mutli - line comment:           
2. keywords are bulit in functions
    else, if, for, pass, break ,in, is ,while, and,await,execpt,araise
3.no we cannot use keywords as variable it shows error
4. is used to check items are in  lists or string it show true if memeory location of string is same if not false even items in string is same and it is case sensitive
   
   == used to check items are in list or string if item present it will show true otherwise false

In [ ]:
#example of (== operation ) ----> single line comment
a = [1,2,3]
b =[1,2,3]
a == b

True

In [ ]:
#example if (is operation)
a = [1,2,33]
b = a
c = a is b
print(c)

True

5. variable are used to store assign value of data type

In [ ]:
#6.
a = 5
print(a)
b = input(6)
print(b)

5
66
6

8. mutable variable : we can remove,modify,delete the value of variable

  immutable variable : we cannot remove , modify the value of variable
9. built in data type: int, float,string,complex, bool, list, tuple,set,dicitionary

In [ ]:
#10
a= 5
print(type(a))
b =  "string"
print(type(b))

<class 'int'>
<class 'str'>

11. type casting is used to know the which type of data type  of value that  assign to the variable
   syntax :type()

In [ ]:
#11.example
a = 6+7j
type(a)

complex

12. mutable datatypes are list , string here we can modify ,remove,add

  immutable datatypes are int,float,complex,tuple we cannot add,remove,modify but in we can del entire tuple not remove items in tuple

In [ ]:
#examples
list1 =[1,2,3]
list1.append(5)
print(list1)
a= 4
print(a)
a = 6.7
print(a)

[1, 2, 3, 5]
4
6.7

13. list is built in data type. list are ordered.
     
  mutable data type which can remove, modify , add
  list items are represent in [] and each item in list are seprarted by comma, it can access any time of data type either all items are same data type or mixed data type.

  it contain duplicate values

In [ ]:
list1 = [1,2,3,5]
list1 = [ "name", 23, True, 6+7j]

In [ ]:
#15
list1 = [ 1,2,3,4]
list1.append(5) #----> ADD
print(list1)
list2 = [2,3,4,5,6,7]
list2.pop(3)   #----> REMOVE
print(list2)
list2[4]= 20 #----> update
print(list2)

[1, 2, 3, 4, 5]
[2, 3, 4, 6, 7]
[2, 3, 4, 6, 20]

In [ ]:
#16.SLICING  can  be done by using index value
#example

list1 = [ 1,2,3,5,6]
a=list1[2:3]
print(a)
a = list1[::-1]
print(a)

[3]
[6, 5, 3, 2, 1]

17. append () method is used to add items at the end of the list
    
  extend () method is used to add another listof items   in  current list

In [ ]:
#example for extend()
list1 = [12 ,13,14]
list2 = [1,2,3,4]
list1.extend(list2)
print(list1)

[12, 13, 14, 1, 2, 3, 4]

18.tuple is collection of items(any data type ) it is immutable data type
 and ordered tuple
  it contains duplicate value
  tuple represent () it support multiple data type

In [ ]:
t = (1,2,3,5,7)
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3, 5, 7)

19.list is mutable
 tuple is immutable  tuple can only use methods pop(),len()
 tuple  can convert list to tuple by tuple() function
 20. n0 we cannot modify tuple because it immutable

In [ ]:
#21. access tuple
t = (1,2,3,4,5)
print(t[1])

2

22.tring is sequence of character it access either in single or double or triple quotes ( " ",' ', '''   ''')

In [ ]:
#create string
a = ' abc'
b  = " 123"
c = '''apple'''
print(a)
type(a)
print(b)
type(b)
print(c)
type(c)

 abc
 123
apple

str

In [ ]:
#23. format method: two types of formats 1. dot format 2. f format
name = "savi"
age = 20
print('my name is {}.and i am {}. year old'.format(name,age))
print(f'my name is {name} and i am  {age } year old')

my name is savi.and i am 20. year old
my name is savi and i am  20 year old

In [ ]:
#24
t =" welcome"
a =t[::-1] #---> reversal by using index
print(t)
print(a)

 welcome
emoclew