<a href="https://colab.research.google.com/github/Praneetha-L/python_/blob/main/PYTHON_LIST_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON DATATYPE ADVANCE DATATYPE
    
  1. **LIST**  
    list is collection of all items( items represent basic datatypes).
    
    lists are mutable that can be replace or modify or remove.
   
    list represents in [ ], each item in list can be separated by comma(,).
    
    list contains duplicate values .
  
  
   for examples:
    
  a =[ 1,2,3]  ----> here list items are  same datatype(int)
  
   b = [1.3,3.4,4.5,5.6] -----> here list items are same datatype(float)
  
   c= ["map","gobal","place"]----> list items are same datatype(string)

 d = [1, 2.4 ,"place",5+8j,true] -----> list items are mixed basic data type

In [ ]:
a= [1,2,3]
print(a)
print(type(a))
B= [9,5.6,"SURYA",True,7+8j]
print(B)
print(type(B))

[1, 2, 3]
<class 'list'>
[9, 5.6, 'SURYA', True, (7+8j)]
<class 'list'>

**ACCESS LIST  **
  
  In python we can access list by using index.
  
  positve index and negative index are two types index but by default python allow positive index and negative index can be allow mannually .

  postive index start from 0 and so on
  
  negative index starts from -1 and so on

In [ ]:
#1
d = [1,4,5,7,9,3]
print(d[0])
print(d[2])
print(d[3])
print(d[-1])
print(d[-3])
#2
s = ["apple","kiwi","mango"]
print(s[0])
print(s[1])
print(s[-3])
#3
c= [ 2.3,4.4,5.5,6.5,7.5]
print(c[1])
print(c[4])
print(c[-4])
print(c[-5])
#4
f= [2, 3.4, 5+6j, "pen", True]
print(f[0])
print(f[4])
print(f[-1])
print(f[-5])

1
5
7
3
7
apple
kiwi
apple
4.4
7.5
4.4
2.3
2
True
True
2

**Accessing list by using slicing **
  
  slicing allow us to access a range of items from a list by using slicing operator [:] .

  we specify starting index and ending index [ n: n-1]

In [ ]:
#5
h = [ 1,3,5,7,9,11,13,15,17]
print(h[2:7])
#6
d= [2.3,4.5,5.6,7.8,9.1]
print(d[2:])
#7
f= ["apple","kiwi","mango","orange","place","water","name"]
print(f[:5])
#8
v= [2, 4.6, "earphones",True,False, 5+9j,7j]
print(v[-4:-1])
#9
b= [1,2,3,4,5,7,8,9,6]
print(b[:-2])
#10
print(b[-6:])

[5, 7, 9, 11, 13]
[5.6, 7.8, 9.1]
['apple', 'kiwi', 'mango', 'orange', 'place']
[True, False, (5+9j)]
[1, 2, 3, 4, 5, 7, 8]
[4, 5, 7, 8, 9, 6]

CONCATENATION is adding two list .we can concatenate two lists by + operator

we  can concatenate list by extend() function

REPEATATION In python we need to duplicate the items so by using * operator we can repeate the litems in list.

we can repeate entire list or items in the list in several times.

below examples are for bboth concatenation and repeatation

In [ ]:
#1
a= [1,4,6]
b= [3,5,7]
print(a+b) # output of  concatenation
a = a*3 #  1. repeatation
print(a)
b = b*4  # 2. repeatation
print(b)
#2
a= [ "place","chair","door"]
g = ["book","pen","watch"]
print(a+g)  # output of concatenation
a = a*5    # 3. repeatation
print(a)
g = g*4    #  4. repeatation
print(g)
#3
d = [ 2.3, 4.4,5.7, 7.8, 9.7]
v = [ 4.5, 5.6,6.7, 7.0 ]
print(d+v) # concatenation
d = d*2    # 5. repeatation
print(d)
v = v*5   # 6. repeatation
print(v)
#4
j = [3+8j, 7+9j,3+9j]
n = [ 7j, 4+6j, 6+9j]
print(j+n)    # output of  concatenation
j = j*2
print(j)  # 7. repeatation
n = n*2   # 8. repeatation
print(n)

[1, 4, 6, 3, 5, 7]
[1, 4, 6, 1, 4, 6, 1, 4, 6]
[3, 5, 7, 3, 5, 7, 3, 5, 7, 3, 5, 7]
['place', 'chair', 'door', 'book', 'pen', 'watch']
['place', 'chair', 'door', 'place', 'chair', 'door', 'place', 'chair', 'door', 'place', 'chair', 'door', 'place', 'chair', 'door']
['book', 'pen', 'watch', 'book', 'pen', 'watch', 'book', 'pen', 'watch', 'book', 'pen', 'watch']
[2.3, 4.4, 5.7, 7.8, 9.7, 4.5, 5.6, 6.7, 7.0]
[2.3, 4.4, 5.7, 7.8, 9.7, 2.3, 4.4, 5.7, 7.8, 9.7]
[4.5, 5.6, 6.7, 7.0, 4.5, 5.6, 6.7, 7.0, 4.5, 5.6, 6.7, 7.0, 4.5, 5.6, 6.7, 7.0, 4.5, 5.6, 6.7, 7.0]
[(3+8j), (7+9j), (3+9j), 7j, (4+6j), (6+9j)]
[(3+8j), (7+9j), (3+9j), (3+8j), (7+9j), (3+9j)]
[7j, (4+6j), (6+9j), 7j, (4+6j), (6+9j)]

LIST METHODS
  1. append() : Add any elemnt at the end of list and it  will add only single item in list
   
   
   syntax : list_name.appened(item to be added)

In [10]:
#example
a = [ 1,3,5,7,9,11]
a.append(13)
print(a)

[1, 3, 5, 7, 9, 11, 13]

2. extend():  add items of lists to current list
 syntax: a.extend(b)

In [12]:
#example
a = ["apple", "orange"," mango"]
b = ["banana","kiwi"]
a.extend(b)
b.extend(a)
print(a)
print(b)

['apple', 'orange', ' mango', 'banana', 'kiwi']
['banana', 'kiwi', 'apple', 'orange', ' mango', 'banana', 'kiwi']

3. pop(): remove any item of specified position in list

 syntax: a.pop()

In [15]:
#example
a = [1,2,3,4,5,6,7]
a.pop() #----> here index value is not given so it remove last item of list

print(a)
b = [1,2,3,4,5,6,7]
b.pop(3) #-------> here index valu is given so it remove position of index vale item in list
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6, 7]

4. remove() : remove the first occurence of items with specified value.if the item we have remove is not existing in list o/p is value error
    
    
  syntax : a.remove(obj) -----> a = list , obj = item to removed

In [29]:
#example
a = [1,2,3,44,5,6,8,9,10]
a.remove(44)
print(a)
a.remove(11)
print(a)

[1, 2, 3, 5, 6, 8, 9, 10]

ValueError: list.remove(x): x not in list

5. count() : This method is used find frequency of items in the list

 syntax :  y.count(item)

In [19]:
#example
a =[1,2,3,4,5,1,2,7,1,2]
a.count(2)

3

6. insert(): add item at any position of list
   
   syntax : a.insert(indexvalue, item to added)

In [20]:
#example
a = [2,6,8,10,12]
a.insert(2,4)
print(a)

[2, 6, 4, 8, 10, 12]

7. index() : returns indexvalue of first occurrence of item in the list

  syntax : c.index()

In [25]:
#example

c = [1,3,5,7,9,11,13]
c.index(9)

4

In [27]:
d = [1,2,3,4,5,3,5,7,3,6,8,9,3]
d.index(3)

2